﻿@using cntr = MonitorApp.MoniterController
@using  MonitorApp
@model MonitorApp.EditMoniterModel


<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700|Kanit|Prompt|Sarabun" />
<style>
    body {
        font-family: 'Kanit', sans-serif;
        background-color: #DCDCDC;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-family: 'Sarabun'sans-serif;
    }

    .nav-green {
        background-color: #049b0c;
        border-color: black;
    }

    .breadcrumb {
        background-color: transparent;
    }

    .breadcrumb-item + .breadcrumb-item::before {
        content: ">";
    }

    .breadcrumb > .active {
        color: black;
    }

    .whitebg {
        background-color: white;
    }

    tr, th {
        text-align: center;
    }

    .pagination {
        list-style: none;
        display: inline-block;
        padding: 0;
        margin-top: 10px;
    }

        .pagination li {
            display: inline;
            text-align: center;
        }

        .pagination a {
            float: left;
            display: block;
            font-size: 14px;
            text-decoration: none;
            padding: 5px 12px;
            color: black;
            margin-left: -1px;
            border: 1px solid transparent;
            line-height: 1.5;
        }

            .pagination a.active {
                cursor: default;
            }

            .pagination a:active {
                outline: none;
            }

    .modal-3 a {
        margin-left: 3px;
        padding: 0;
        width: 30px;
        height: 30px;
        line-height: 30px;
        -moz-border-radius: 100%;
        -webkit-border-radius: 100%;
        border-radius: 100%;
    }

        .modal-3 a:hover {
            background-color: gainsboro;
        }

        .modal-3 a.active, .modal-3 a:active {
            background-color: green;
        }

    .ck-1 {
        position: relative;
        left: 20px;
    }
</style>

@using (Html.BeginForm(FormMethod.Post))
{

<div class="whitebg container-fluid">
    <div class="row">
        <div class="col">
            <div class="form-group">
                <label>ชื่อเว็ป</label>
                @Html.TextBoxFor(x => x.WebAppName, new { @class = "form-control" })
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>ลิ้ง</label>
                @Html.TextBoxFor(x => x.WebAppUrl, new { @class = "form-control" })
            </div>
        </div>
        <div class="col">
            <div class="form-group">
                <label>รหัสเซริฟเวอร์</label>
                @Html.TextBoxFor(x => x.Port, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group invisible" >
            <label>รหัสเซริฟเวอร์</label>
            @Html.TextBoxFor(x => x.WebAppId, new { @class = "form-control" })
        </div>
    </div>

    <div class="row">
        <div class="col">
            <input type="submit" class="btn btn-success" style="float: right;" value="บันทึก" />
        </div>
    </div>

</div>



    @Html.HiddenFor(x => x.MoniterId)


    <!-- Optional JavaScript; choose one of the two! -->
    <!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>

    <!-- Option 2: jQuery, Popper.js, and Bootstrap JS
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    -->


    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">ยืนยันการลบ</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p id="deln">ต้อองการลบ</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-primary" id="deleteItem">ตกลง</button>

                </div>
            </div>
        </div>
    </div>






    <script src="~/lib/jquery/jquery.js"></script>
    <script>

        $(document).ready(function () {
            var path_to_delete = "test";
            console.log(path_to_delete);
            $(".delete").click(function (e) {

                path_to_delete = $(this).data('path');
                console.log(path_to_delete);
            });

            $('#deleteItem').click(function () {
                window.location = path_to_delete;
            });
        });

        var name_del = ''
        var id_del = ''

        function setNamedel(name, id) {

            this.name_del = name

            this.id_del = id

            this.showNamedel()

        }
        function showNamedel() {


            document.getElementById('deln').innerHTML = "ต้องการลบ สินทรัพย์เลขที่" + id_del + "ชื่อ" + name_del + ""
            document.getElementById("element").innerHTML = "Tutorix";
        }
    </script>
    <script>
        $(document).ready(function () {
            $('.js-example-basic-multiple').select2();
        });

    </script>
}