﻿@using cntr = MonitorApp.MoniterController
@using MonitorApp
@model MonitorApp.ListMoniterModel

@{
    ViewData["Title"] = "List";
    Layout = "_Layout";
}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700|Kanit|Prompt|Sarabun" />
<style>

    tr, th {
        text-align: center;
    }

    body {
        background-color: gainsboro;
    }
</style>
<br />
<div class="container">
    <div class="card" style="        border-color: lightgray;">
        <br />
        <form autocomplete="off" action="@Url.Action(MoniterController.ActionList,MoniterController.Name)">
            <div class="row">
                <div class="col-sm-12 col-md-1 form-group " style="float:right;">
                </div>
                <div class="col-sm-12 col-md-2 form-group " style="float:right;">
                    <label for="isActive">ค้นหาUrl</label>
                    @Html.TextBoxFor(x => x.WebAppUrl, new { @class = "form-control", @id = "lostId", @placeholder = "ระบุUrl" })
                </div>
                <div class="col-sm-12 col-md-2 form-group">
                    <label for="createDate">ค้นหาชื่อเว็ปแอป</label>
                    @Html.TextBoxFor(x => x.WebAppName, "{0:dd/MM/yyyy}", new { @class = "datepicker form-control", @id = "createDate", @placeholder = "ชื่อเว็ปแอป" })
                </div>
                <div class="col-sm-12 col-md-2 form-group">
                    <label for="modifyDate">ค้นหารหัสเเม่ข่าย</label>
                    @Html.TextBoxFor(x => x.Port, "{0:dd/MM/yyyy}", new { @class = "datepicker form-control", @id = "modifyDate", @placeholder = "เเม่ข่าย" })
                </div>
                <div class="col-sm-12 col-md-2 form-group">
                    <label for="isActive"></label>

                    <div class="col-sm-12 col-md-2 form-group ">
                       <button type="submit" class="btn btn-success" id="btnSearch" style="float:right;">ค้นหา</button>
                    </div>
                </div>

            </div>
            <div class="row">

            </div>
        </form>


        <br />
    </div>
    <br />

    <br />
    <div class="card" style="border-color:lightgray;">
        <div class="row">
            <div class="col-md-3"><a href="@Url.Action(cntr.ActionEdit, cntr.Name,new {status = "add"})" type="button" class="btn btn-success">เพิ่มเว็ปแอพลิเคชั่น</a></div>
            <div class="col-md-3"></div>
            <div class="col-md-3"></div>
            <div class="col-md-3 "></div>
        </div>
        <div class="row">
            <div class="col">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">รหัสเเอพลิเคชั่น</th>
                            <th scope="col">ชื่อเว็ปแอพลิเคชั่น</th>
                            <th scope="col">รหัสเเม่ข่าย</th>
                            <th scope="col">Url</th>
                            <th scope="col">สถาณะเซริฟเวอร์</th>
                            <th scope="col">สถาณะเว็ปแอป</th>
                            <th scope="col">สถาณะฐานข้อมูล</th>
                            <th scope="col">จัดการ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.Moniters.Count() == 0)
                        {
                            <tr>
                                <td colspan="5">ไม่พบข้อมูล</td>
                            </tr>
                        }
                        else
                        {
                            @foreach (MoniterModel item in Model.Moniters)
                            {
                                var editUrl = Url.Action(cntr.ActionEdit, cntr.Name, new { id = item.WebAppId });
                                //var editUrl2 = Url.Action(cntr.ActionEdit2, cntr.Name, new { id = item.WebAppId });
                                <tr>
                                    <td>@item.WebAppId</td>

                                    <td>@item.WebAppName</td>
                                    <td>@item.Port</td>
                                    <td>@item.WebAppUrl</td>
                                    @if (item.MoniterServer == 0)
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                            </svg>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                        </td>

                                    }
                                    @if (item.MoniterApp == 0)
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                            </svg>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                        </td>

                                    }
                                    @if (item.MoniterDb == 0)
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                                                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                                                <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                            </svg>
                                        </td>
                                    }
                                    else
                                    {
                                        <td>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                                            </svg>
                                        </td>

                                    }



                                    <td>
                                        <a href="@Url.Action(cntr.ActionEdit, cntr.Name,new {id = item.WebAppId})" type="button" class="btn btn-primary">เเก้ไข</a>
                                        <a href="@Url.Action(cntr.ActionDelelete, cntr.Name, new { editid = item.WebAppId ,name = "del" }) " type="button" class="btn btn-danger">ลบ</a>

                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>







    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    คุณแน่ใจหรือว่าต้องการลบข้อมูลนี้?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-primary" id="deleteItem">ตกลง</button>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script>
        var displayFormat = 'D/M/YYYY'
        var th_i18n = {
            previousMonth: 'เดือนก่อนหน้า',
            nextMonth: 'เดือนถัดไป',
            months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'],
            weekdays: ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์', 'เสาร์'],
            weekdaysShort: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส']
        };
        var createDatePick = new Pikaday({
            field: $("#createDate")[0],
            format: displayFormat,
            onSelect: function () {
                console.log(this.getMoment());
            }
        });
        var modifyDatePick = new Pikaday({
            field: $("#modifyDate")[0],
            format: displayFormat,
            onSelect: function () {
                console.log(this.getMoment());
            }
        });
        $(document).ready(function () {
            var path_to_delete = "test";
            $(".delete").click(function (e) {

                path_to_delete = $(this).data('path');
                console.log(path_to_delete);
            });

            $('#deleteItem').click(function () {
                window.location = path_to_delete;
            });
        });
    </script>
}


