﻿@using cntr = MonitorApp.MoniterController
@using MonitorApp
@model MonitorApp.ListMoniterModel

@{
    ViewData["Title"] = "List";
    Layout = "_Layout";
}
<style>
    tr, th {
        text-align: center;
    }
</style>
<div class="container-md">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">ทรัพย์สินสูญหาย | Lost moniterwebapp</li>
        </ol>
    </nav>
   
    <div class="row">
        <div class="col">
        
            <a href="@Url.Action(cntr.ActionEdit, cntr.Name)" type="button" class="btn btn-primary">รายการใหม่</a>
        </div>
       
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">รหัสเเอพลิเคชั่น</th>
                        <th scope="col">ชื่อเว็ปแอพลิเคชั่น</th>
                        <th scope="col">วรหัสเเม่ข่าย</th>
                        <th scope="col">Url</th>
                        <th scope="col">สถาณะการทำงาน</th>
                        <th scope="col">จัดการ</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Moniters.Count() == 0)
                    {
                        <tr>
                            <td colspan="5">ไม่พบข้อมูล</td>
                        </tr>
                    }
                    else
                    {
                        @foreach (MoniterModel item in Model.Moniters)
                        {
                            var editUrl = Url.Action(cntr.ActionEdit, cntr.Name, new { id = item.WebAppId });
                            //var editUrl2 = Url.Action(cntr.ActionEdit2, cntr.Name, new { id = item.WebAppId });
                <tr>
                    <td>@item.WebAppId</td>
                    <td>@item.WebAppName</td>
                    <td>@item.Port</td>
                    <td>@item.WebAppUrl</td>
                    <td>@item.MoniterServer</td>
                    <td>@item.MoniterApp</td>
                    <td>@item.MoniterDb</td>


                    <td>
                        @*<a href="@editUrl" class="btn btn-warning btn-sm">แก้ไข with jQuery</a>*@
                        @*<a href="@editUrl" class="btn btn-warning btn-sm">แก้ไข</a>*@
                        @*<button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#delModal" onclick="getId(@item.LostId)">ลบ</button>*@
                        <button class="btn btn-danger btn-sm delete" data-toggle="modal" data-target="#delModal" data-path="@Url.Action(cntr.ActionDelelete, cntr.Name, new { id = item.WebAppId })" id="delete">ลบ</button>
                    </td>
                </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>



    @*<form autocomplete="off" action="@Url.Action(LostController.ActionList,LostController.Name)">
            <div class="col-sm-12 col-md-3 form-group">
                @Html.TextBoxFor(x => x.pageNo, new { @class = "form-control", @id = "Paging" })
            </div>
            <div class="col-sm-12 col-md-1 form-group  align-self-center">
                <button type="submit" class="btn btn-success" id="btnSearch">ค้นหา</button>
            </div>
        </form>*@

    @*<div class="row">
            <div class="col-sm-6">
                แสดงรายการ 1 - 4 จาก 4 รายการ
            </div>
            <div class="$$$col-sm-6">
                <ul class="$$$pagination modal-3" style="float:right">
                    //<li><a href="#" class="prev"><</a></li>
                    <li><a href="@Url.Action(LostController.ActionList,LostController.Name)" class="active">1</a></li>
                    <li> <a href="@Url.Action(LostController.ActionList,LostController.Name)">2</a></li>
                    <li> <a href="@Url.Action(LostController.ActionList,LostController.Name)">3</a></li>
                    //<li><a href="#" class="next">></a></li>
                </ul>
            </div>
        </div>*@

    <div class="modal fade" id="delModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Delete</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    คุณแน่ใจหรือว่าต้องการลบข้อมูลนี้?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">ยกเลิก</button>
                    <button type="button" class="btn btn-primary" id="deleteItem">ตกลง</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var displayFormat = 'D/M/YYYY'
        var th_i18n = {
            previousMonth: 'เดือนก่อนหน้า',
            nextMonth: 'เดือนถัดไป',
            months: ['มกราคม', 'กุมภาพันธ์', 'มีนาคม', 'เมษายน', 'พฤษภาคม', 'มิถุนายน', 'กรกฎาคม', 'สิงหาคม', 'กันยายน', 'ตุลาคม', 'พฤศจิกายน', 'ธันวาคม'],
            weekdays: ['อาทิตย์', 'จันทร์', 'อังคาร', 'พุธ', 'พฤหัสบดี', 'ศุกร์', 'เสาร์'],
            weekdaysShort: ['อา', 'จ', 'อ', 'พ', 'พฤ', 'ศ', 'ส']
        };
        var createDatePick = new Pikaday({
            field: $("#createDate")[0],
            format: displayFormat,
            onSelect: function () {
                console.log(this.getMoment());
            }
        });
        var modifyDatePick = new Pikaday({
            field: $("#modifyDate")[0],
            format: displayFormat,
            onSelect: function () {
                console.log(this.getMoment());
            }
        });
        $(document).ready(function () {
            var path_to_delete = "test";
            $(".delete").click(function (e) {

                path_to_delete = $(this).data('path');
                console.log(path_to_delete);
            });

            $('#deleteItem').click(function () {
                window.location = path_to_delete;
            });
        });
    </script>
}